# Redirigir automáticamente a public/index.html
RewriteEngine On

# Redirigir si no hay una solicitud específica
RewriteCond %{REQUEST_URI} !^/public/index\.html$
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|gif|ico)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ /public/index.html [L]

# Ocultar las extensiones .html y .php
# Reescribir las URLs para eliminar la extensión .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/$ $1.html [L]

# Reescribir las URLs para eliminar la extensión .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/$ $1.php [L]